 *{
    box-sizing: border-box;

 }
 body {
     font-family: arial;
     margin:0;
     text-align: center;
     background-color: rgba(124, 117, 117, 0.109);
 }
.tables {
    margin-left: 50px;
    display: flex;
    width: 1350px;
}
.table {
    width: 150px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    /* background-color: rgb(209, 162, 32); */
}
.table::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 600px;
    background-color: rgb(51, 43, 43);
    right: 0;
    top: 40px;
    z-index: 2;

}
.hour {
    margin-left: 50px;
    position: relative;
    /* background-color: rgba(98, 83, 83, 0.199); */
    height: 50px;
    width: 1350px;
}

.hour::after {
    content: '';
    position: absolute;
    width: 1350px;
    height: 1px;
    background-color: rgb(51, 43, 43);
    left: 0;
    bottom: 0;
}

.hour::before {
    content:attr(data-hour);
    position: absolute;
    top: -8px;
    left: -50px;
}

.reservation {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
    height: 150px;
    width: 150px;
    border-radius: 4px;
    text-align: center;
    z-index: 5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.reservation input {
    width: 100%;
    height: 25%;
    border: none;
    border-right: 1px solid #FA742B;
    border-left: 1px solid #FFE985;
    font-size: 20px;
    text-align: center;
    background-color: rgb(250, 245, 219);

}

.reservation select {
    text-align: center;
    width: 70%;
    height: 25px;
    border: none;
    border-radius: 4px;
    margin: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
